/* Google font import link */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600;700&family=Raleway&display=swap');

/* General body styling */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
}

a {
    color: #37343d;
    font-size: 2rem;
    text-decoration: none;
    background-color: transparent;
    font-family: "Quicksand", sans-serif;
}

p {
    font-size: 1.5em;
}

h2 {
    font-family: "Quicksand";
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    color: #fff;
}

.bold-text {
    font-weight: 600;
}

.row {
    margin: 0;
    padding: 0;

}

.section-titles {
    color: #37343d;
}

.aloy-section-text {
    border: 1px #37343d;
    border-radius: 1rem;
}

.display-4 {
    font-family: "Quicksand";
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 1.2;
}

.dotted {
    border-top: 2px dotted #37343d;
    margin-bottom: 1rem;
}

/* Nav bar styling */
.nav-bg-color {
    background-color: #fff;
}

.navbar-brand {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 1rem;
    font-size: 4rem;
    line-height: inherit;
    white-space: nowrap;
    color: #37343d;
}

.navbar-brand:hover {
    color: #5983ff;
}

.nav-link {
    display: inline-flex;
    justify-items: flex-end;
    padding: .5rem 1rem;
    font-size: 2rem;
}

.nav-link:hover {
    text-decoration: none;
    color: #5983ff;
}

/* Button styling */
/* .button {
    margin-left: -1rem;
} */

.btn-primary {
    color: rgb(255, 255, 255);
    background-color: #5983ff;
    border-color: #5983ff;
    margin-left: -1rem;
}

/* Hero images styling */
.hero-images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #eae8e5;
}
/* Margin and Padding for navbar not overlapping section content */
#about,
#art,
#contact,
#protagonists,
#fanart {
    margin-top: 70px;
    padding-top: 70px;
    margin-bottom: 10rem;
}
/* Hero images links */
#protagonists {
    background-image: url("../images/hero-image-prota.png");
}

#home {
    background-image: url("../images/hero-image-aloy.jpg");
}

#contact {
    background-image: url("../images/hero-image-aloy.jpg");
}

/* Jumbotrons styling */
.jumbotron-hero-home {
    border: 1px solid #37343d;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.8);
    padding: 1rem 1rem;
    justify-content: center;

}

.jumbotron-protagonists {
    border: 1px solid #37343d;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.8);
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-right: 1rem;
}

.jumbotron {
    background: rgba(255, 255, 255, 0.473);
    padding: 1rem;
}

/* Images styling */

/* box-shadow taken from: https://www.w3schools.com/css/css3_shadows_box.asp*/
img {
    vertical-align: middle;
    border: 1px solid #37343d;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 5px #37343d;
    margin-top: 1rem;
}

.hover:hover {
    transform: scale(1.1);
    transition-timing-function: ease-in-out;
    transition-duration: 1.2s;
}

/* Progress bars */
.progress-bar {
    background-color: #5983ff;
}

/* Contact form */

.form-control {
    margin: 0;
}
.form-check {
    padding-left: 0.75rem;
}

.form-check-label {
    font-size: 1rem;
}

.form-group {
    margin-bottom: 1.2rem;
}

/* Footer */
.footer-created {
    font-family: "Quicksand";
    font-size: 2rem;
}

/* media queries */
@media (max-width: 576px) {
    .jumbotron-protagonists {
        height: fit-content;
    }

    /* To prevent overflow on smaller screens */
    .myHover:hover {
        transform: none;
    }

    .fab {
        font-size: .75em;
    }
}

/* For making navbar a bit smaller in height, so content is more visible when clicking anchor links */
@media (min-width: 992px) {
    .nav-bg-color {
        height: 80px;
        padding: 2.6rem;
    }

}